.session-container {
    height: calc(100% - 50px);
    max-height: calc(100% - 50px);
    width: 100%;
    overflow: hidden;
}

.footer-controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    height: 50px;
    max-height: 50px;
    justify-content: center;
    align-items: center;
}

.controls-buttons {
    width: 125px;
    display: flex;
    justify-content: space-between;
}

.network-quality-container {
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 10px;
    align-content: flex-start;
}

.bad {
    background-color: #cc3232!important;
}

.good {
    background-color: #e7b416!important;
}

.excellent {
   background-color: #2dc937!important;
}

.network-audio-container {
    display: flex;
}

.network-video-container {
    display: flex;
}

.network-cycle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 10px;
}

.unapproved-users-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    border-left: 2px solid #ffffff;
    height: 100%;
    padding: 0 25px;
    z-index: 99;
}

.session-container video {
    height: 100%;
}

.user-section {
    margin-top: 5px;
    width: 100%;
    height: 19%;
    border: 1px solid rgba(245,240,240,.24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-face {
    background-image: url(/man-user.svg);
    height: 60%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.username {
    color: #ffffff;
}

.approved-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.admit-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url(/success.svg) no-repeat center center;
    background-size: contain;

}

.reject-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url(/error.svg) no-repeat center center;
    background-size: contain;
}

.waiting-container {
    position: absolute;
    bottom: 90px;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    z-index: 99;
}

.session-videos {
    display: flex;
    justify-content: center;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.video-spaces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#video-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
