.app-container {
  height: 100vh;
  width: 100%;
  background-color: #082b44;
  overflow: hidden;
}

.return-back-container {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}

.powered-by-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
}

.powered-by-text {
  color: #ffffff;
  font-size: 16px;
}

.logo-top {
  background-image: url(/sceenic.svg);
  background-repeat: no-repeat;
  width: 90px;
  height: 110px;
  background-size: contain;
  background-position: center;
}
