.video-container {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    margin: 10px!important;
}

video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.participant-name {
    position: absolute;
    top: 5%;
    left: 50%;
    color: #ffffff;
}

.disconnect-participant {
    position: absolute;
    right: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 10;
}

.user-control {
    position: absolute;
    right: 15px;
    top: 10px;
    background-image: url(/dots.svg);
    width: 10px;
    height: 20px;
    background-repeat: no-repeat;
    z-index: 15;
    cursor: pointer;
}

.user-control:hover~.user-control-menu-container {
    visibility: visible;
}

.user-control-menu-container:hover {
    visibility: visible;
}

.user-control-menu-container {
    width: 200px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 25px;
    background-color: #2a3a4b;
    z-index: 20;
    border-radius: 5px;
    visibility: hidden;
}

.user-control-menu-container .menu-item {
    height: 20px;
    font-size: 14px;
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.user-control-menu-container .menu-item:hover {
    background-color: #283447;
    border-radius: 5px;
}

.active-speaker {
    box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.28);
}

video::-webkit-media-controls {
    display:none !important;
}

.video-space {
}

.video-container-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.avatar-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    font-size: 15px;
}

.avatar-image img {
    border-radius: 50%;
    background-color: #474747;
}

.video-container-avatar-only {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.hover-background {
    background-color: rgba(0,0,0, 0.6)!important;
    visibility: hidden;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    pointer-events: none;
}

.video-container:hover .hover-background {
    visibility: visible;
}

.flipVideoX {
    transform: scale(-1, 1);
}

.screen-share-video {
    transform: rotate(0deg);
}

.user-indicator-container {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 22px;
    pointer-events: none;
    z-index: 10;
    width: auto;
    background-color: #13BABF;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    border-radius: 0 5px 0 0;
    padding: 0 5px;
}

.indicator-container {
    display: flex;
    margin-right: 5px;
}

.muted-audio {
    width: 13px;
    height: 13px;
    background-image: url(/microphone-muted.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.muted-video {
    width: 13px;
    height: 13px;
    background-image: url(/camera-stopped.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.muted-audio-container {
    display: none;
}

.muted-video-container {
    display: none;
}

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.connection-container {
    position: relative;
    font-size: 8px;
    text-align: center;
    line-height: 22px;
    padding: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 20;
    background: #2dc937;
    color: #fff;
    border: 2px solid #fff;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.connection-image {
    width: 8px;
    height: 8px;
    background-image: url(/connection.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.network-monitoring-container {
    width: 200px;
    position: absolute;
    top: 5px;
    left: 35px;
    background-color: #2a3a4b;
    z-index: 20;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    padding: 5px 10px;
    visibility: hidden;
}

.network-item {
    display: flex;
    padding: 2px 0;
}

.network-value {
    padding-left: 10px;
}

.connection-container:hover ~ .network-monitoring-container {
    visibility: visible!important;
}


