.toolbox {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    transition: bottom .3s ease-in;
    width: 100%;
}

.toolbox .toolbox-background {
    background-image: linear-gradient(to top,rgba(0,0,0,.6),rgba(0,0,0,0));
    transition: bottom .3s ease-in;
    height: 160px;
    width: 100%;
    pointer-events: none;
    position: absolute;
    z-index: 4;
}

.toolbox-content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 16px;
    position: relative;
    width: 100%;
    z-index: 350;
}

.button-group-left {
    display: flex;
    width: 33%;
}

.button-group-center {
    display: flex;
    width: 33%;
    justify-content: center;
}

.button-group-right {
    display: flex;
    width: 33%;
    justify-content: flex-end;
    align-items: center;
}

.toolbox-button {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: 40px;
    margin: 0 8px;
    text-align: center;
}

.toolbox-button:nth-child(2) .toolbox-icon:hover {
    background-color: #bf2117!important;
}

.toolbox-button:nth-child(2) .toolbox-icon {
    background-color: #bf2117;
    border: 1px solid #bf2117;
    width: 40px;
    height: 40px;
}

.toolbox-icon:hover {
    background-color: #daebfa!important;
    border: 1px solid #daebfa!important;
}

.button-group-center .toolbox-icon {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #d1dbe8;
    margin: 0 4px;
    width: 38px;
    height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.microphone {
    background-image: url(/microphone.svg);
    width: 24px;
    height: 24px;
}

.microphone-muted {
    background-image: url(/microphone-muted.svg);
    width: 24px;
    height: 24px;
}

.leave {
    background-image: url(/leave.svg);
    width: 24px;
    height: 24px;
}

.camera {
    background-image: url(/camera.svg);
    width: 24px;
    height: 24px;
}

.camera-stopped {
    background-image: url(/camera-stopped.svg);
    width: 24px;
    height: 24px;
}

.toolbox-icon.toggled {
    background: #2a3a4b;
    border: 1px solid #5e6d7a;
}

.toolbox-icon.toggled:hover {
    background-color: #5e6d7a!important;
}

.settings-button-container {
    display: flex;
}

.share-screen {
    background-image: url(/share-screen.svg);
    width: 24px;
    height: 24px;
}

.toolbox-control {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    font-size: 24px;
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;
}

.tooltip-box {
    padding: 3px;
    font-size: 11px;
}

.toolbox-control.toggled {
    background-color: rgba(255,255,255,.15);
}

.footer-menu {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    z-index: 15;
    cursor: pointer;
    background-image: url(/dots.svg);
    background-size: contain;
}

.footer-control-menu-container {
    position: absolute;
    width: 200px;
    height: auto;
    bottom: 55px;
    right: 33px;
    background-color: #071b29;
    z-index: 20;
    border-radius: 5px;
    visibility: hidden;
}

.footer-menu:hover~.footer-control-menu-container {
    visibility: visible;
    transition: .3 ease-in-out;
}

.footer-control-menu-container:hover {
    visibility: visible;
}