.video-quality {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: 500ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.closed {
    opacity: 0;
    visibility: hidden;
}

.video-quality-container {
    height: 150px;
    width: 400px;
    background-color: #2a3a4b;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    transition: .3s ease-in-out;
    z-index: 99;
}

.video-width-container {
    display: flex;
    font-size: 13px;
    margin: 0 10px;
    justify-content: space-between;
    align-items: center;
}

.slider-container {
    width: 60%;
}

.MuiSlider-root {
    color: #262626!important;
}

.MuiSlider-mark, .MuiSlider-markActive {
    color: transparent!important;
    background-color: transparent!important;
}

.video-quality-footer-buttons {
    display: flex;
    justify-content: space-around;
}

.video-quality-footer-buttons button {
    border: 2px solid rgba(124, 31, 31, 0.7);
    height: 40px;
    width: 100px;
    color: #ffffff;
    margin: 0;
    padding: 0 10px;
    border-radius: 2px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
}

.video-quality-footer-buttons button:focus {
    outline: none;
    border: none;
}