.login-container {
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-block {
    border: 1px solid #ffffff;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    color: #ffffff;
    margin-bottom: 10px;
}

.login-field {
    -webkit-appearance: none;
    outline: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 4px 0;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    background: none;
    border-radius: 0;
    color: #ffffff;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.join-conference-button {
    height: 40px;
    width: 150px;
    background-color: inherit;
    color: #fff;
    border: 1px solid #fff;
    font-size: 0.875rem;
    line-height: 40px;
    vertical-align: top;
    margin: 0;
    padding: 0 10px;
    border-radius: 2px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-content: center;
}
.join-conference-button:hover {
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.7);
}
.join-conference-button:disabled {
    border: 1px solid rgba(124, 31, 31, 0.7);
}
.join-conference-button:disabled:hover {
    box-shadow: 0 1px 5px rgba(255, 0, 0, 0.7);
}


